@import url("https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: black;
}

.logo img {
  width: 100px;
}

.right-items {
  display: flex;
}

.right-items > div {
  margin-left: 100px;
}

.cart i {
  font-size: 30px;
  color: white;
}

.support a {
  text-decoration: none;
  font-size: 15px;
  color: white;
}

@media (max-width: 768px) {
  .support,
  .cart {
    display: block;
    margin-top: 10px;
  }

  .support a {
    font-size: 16px;
  }
}

.search-img {
  background-image: url(./img/duki-river-hd.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 800px;
  background-attachment: fixed;
  background-size: cover;
}

input#search {
  text-align: center;
  align-items: center;
}

.search input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  font-size: 18px;
  color: black;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
}

#carrito {
  cursor: pointer;
  width: 25%;
}

.container {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0px 10px 10px -6px rgb(240, 52, 52);
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 30px;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  justify-content: center;
}

.card-text {
  font-size: 1rem;
  text-align: center;
}

.button {
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 25px;
  text-align: center;
}

.button-outline {
  border: 2px solid #007bff;
  color: #007bff;
  background-color: transparent;
}

.button-outline:hover {
  background-color: #007bff;
  color: #fff;
}

.imagen {
  width: 70px;
  height: 70px;
  float: right;
}

.imagen-fija {
  z-index: 9999;
  position: fixed;
  top: 10px;
  right: 10px;
}

.listado {
  position: relative;

  & thead {
    background-color: rgb(255, 196, 0);
    color: black;

    & th {
      padding: 10px;
    }
  }

  & tbody {
    background-color: white;

    & td {
      padding: 10px;
    }

    .boton-eliminar {
      text-align: left;
      cursor: pointer;
      font-size: x-large;
    }
  }

  & tfoot {
    font-weight: 700;
    font-size: larger;
  }
}

.button-outline:hover {
  background-color: lightgray !important;
}

.button-outline:active {
  background-color: grey !important;
  color: whitesmoke !important;
}

.footer {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  width: 100%;
  color: white;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 4px 20px gray;

  & h3 {
    font-size: 2rem;
  }
}

@media (max-width: 950px) {
  .header {
    font-size: 0.8rem;
    text-align: left;
  }
  .search-img {
    height: 100%;
  }
  .search input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 10px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
  }
}
.footer2 {
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: absolute;
  width: 100%;
  bottom: 0;
  color: aliceblue;
  background-color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 4px 20px gray;
  text-decoration: none;

  & h3 {
    font-size: 2rem;
  }
}

/* Soporte  */

.contenedor {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.info-section,
.contact-section {
  margin-bottom: 40px;
  text-align: center;
}

h1,
h2 {
  color: #333;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .contact-section {
    padding: 15px;
  }

  button {
    padding: 8px 16px;
  }
}
